* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

/* ________________________________________ Start Overlay ________________________________________*/
#bac-body {
  background-image: url(../img/background.png);
  background-size: contain;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  z-index: 100;
}

#overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}

.card-img-top {
  height: 240px;
}

/* ________________________________________ Start Overlay ________________________________________*/

/*________________________________________ Start Wave ________________________________________*/

section {
  width: 100%;
}

.wave {
  position: relative;
  opacity: 0.6;
}

.wave::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 162px;
  background: #000;
  background: url(../img/wave.png);
  background-size: cover;
}

/*________________________________________ End Wave ________________________________________*/

/* ________________________________________ Start Slider ________________________________*/
.slider {
  position: relative;
  z-index:-1;
  /* border-bottom: 7px solid #f5bc1a; */
}

.carousel-indicators li {
  width: 14px;
  border-radius: 50%;
  height: 13px;
}

.carousel-indicators .active {
  background-color: #f5bc1a;
}

.slider img {
  height: 100vh;
}

.carousel-indicators {
  top: 500px
}

/* ________________________________________ Start Slider _______________________________*/

/* _______________________________________ Start Header____________________________ */
.header {
  position: absolute;
  width: 100%;
  top: -6px;
  background-color: #96b7dc12;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: #f5bc1a;
}

.navbar {
  padding: 0;
}

.navbar-nav ul li a {
  background-color: #ddd;
}

.navbar .fa-bars {
  color: #fff;
  font-size: 30px;
}

.navbar-nav li a {
  float: right;
}

.navbar-toggler {
  outline: none !important;
  border: none !important;
}

.navbar-brand img {
  height: 144px;
  width: 130px;
  border-radius: 0 0 30px 30px;
  background-color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  background-color: #164a7ca8;
  margin: 5px;
  border-bottom: 3px solid #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #f5bc1a;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #f5bc1a;
}



/* _______________________________________ End Header____________________________ */

/* ______________________________________ Start Tourist__________________________ */

.tourist {
  padding: 60px 0;
}

.tourist .custom-img-1 img {
  border-radius: 0 50px 0px 50px;
  width: 100%;
  height: 375px;
  margin-top: -15px;
}

.tourist h1 {
  text-align: center;
  color: #fff;
  background-color: #007bff94;
  border-radius: 0 0px 0px 50px;
  font-size: 18px;
  position: relative;
  top: -51px;
  height: 49px;
  font-weight: bold;
  padding: 8px;
}

.tourist a {
  text-decoration: none;
}

.tourist .custom-h1 {
  text-align: center;
  color: #fff;
  background-color: #007bff38;
  border-radius: 0px 0px 50px 0px;
  font-size: 19px;
  position: relative;
  top: -51px;
  height: 49px;
}

.tourist .custom-img-2 img {
  border-radius: 50px 0px 50px 0px;
  width: 100%;
  height: 375px;
  margin-top: -15px;
}

/* ______________________________________ End Tourist__________________________ */

/* ______________________________________ Start Footer _______________________*/

.footer {
  background-color: #0684b6;
  color: #fff;
  border-top: 7px solid #f5bc1a;
  font-size: 13px;
}

.footer-info {
  padding-top: 40px;
}

.footer-info ul li {
  list-style: none;
}

.footer-info ul li a {
  color: #fff;
  padding: 7px;
  text-decoration: none;
}

.footer-info ul li a:hover {
  color: #f5bc1a;
}

.footer img {
  height: 148px;
  width: 115px;
  border-radius: 0 0 30px 30px;
  background-color: #fff;
  margin-bottom: 10px;
}

.footer p {
  font-size: 11px;
  font-weight: bold;
}

.footer-info-icon ul li {
  display: inline-block;
}

.footer-info-icon ul li i {
  background-color: #fff;
  color: #0684b6;
  border-radius: 30%;
  padding: 3px;
  margin-top: 24px;
}

.footer-info-icon ul li i:hover {
  color: #f5bc1a;
}

/* ______________________________________ End Footer _______________________*/

/* ********************************************************************************************** */

/* __________________________________________________________________________

 --------------------- Start Tourist Programs Page -------------------------- 
 ___________________________________________________________________________*/

.tourist-programs {
  padding: 15px 0;
}

.tourism-section {
  margin: 181px 0px -55px 0;
}

.titel-style {
  margin: 0 auto 80px;
  height: 120px;
  width: 80%;
  max-width: 700px;
  background: #fff;
  position: relative;
  box-shadow: 0 4px 5px 0 rgb(0, 0, 50, 0.5);
}

.titel-style::after {
  content: "";
  height: 100px;
  width: 200px;
  background-color: #21629f;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -1;
}

.titel-style::before {
  content: "";
  height: 100px;
  width: 200px;
  background-color: #21629f;
  position: absolute;
  bottom: -10px;
  right: -10px;
  z-index: -1;
}

.titel-style h1 {
  padding: 40px 0;
  color: #004085;
}

.tourist-programs a {
  text-decoration: none;
}

.tourist-programs .card-body {
  padding: 5px;
}

.tourist-programs .card-body h1 {
  color: #0684b6;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}

.tourist-programs .card {
  margin: 10px;
}

.tourist-programs .card:hover {
  background-color:  #eee0b845;
  transition: 1s;
  /*transform: scale(0.94);*/
}

.tourist-programs .card-body h1:hover {
  color: #fff;
}

/* __________________________________________________________________________

 --------------------- End Tourist Programs Page -------------------------- 
 ___________________________________________________________________________*/

/* ************************************************************************************************** */

/* __________________________________________________________________________

 --------------------- Start Tourist Medical Tourism -------------------------- 
 ___________________________________________________________________________*/

.form-control {
  margin: 11px 0;
}

.card-title {
  color: #009cda;
  margin: 5px;
  font-weight: bold;
}

.form-edit input {
  box-shadow: none !important;
  outline: none !important;
  border: 1px solid #6fc0e1;
}

/* __________________________________________________________________________

 --------------------- End Tourist Medical Tourism -------------------------- 
 ___________________________________________________________________________*/

/* __________________________________________________________________________

 --------------------- Start Trips Page -------------------------- 
 ___________________________________________________________________________*/


.img-hover {
  margin: 0 15px;
}

.img-hover li {
  list-style: none;
}

.img-hover .imageContainer {
  position: relative;
  width: 233px;
  height: 200px;
  float: left;
  margin: 38px 11px;
}

/* Fix image into container */
.img-hover img {
  width: 100%;
  height: 100%;
  border-radius: 20px 0;
}

/* Subclass of imageContainer*/
.img-hover .overlayText {
  position: absolute;
  top: 63px;
  bottom: 0;
  left: 0px;
  right: 0px;
  opacity: 0;
  background: #f5bc1a;
  color: #073f5f;
  font-size: 33px;
  font-family: sans serif;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 100px 30px;
  transition: 0.3s ease-in;
  border-radius: 20px 0;
}

.img-hover .overlayText:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* -------------- */

.trip-info {
  padding: 0px 4px 8px;
}

.trip-info h4 {
  font-family: monospace;
  color: #6f6868;
}

/* __________________________________________________________________________

 --------------------- End Trips Page -------------------------- 
 ___________________________________________________________________________*/

/* Start Abou Us */
.about {
  background-image: url(../img/s3.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 5px 0px #205e9b;
}

.about .row {
  margin: initial !important;
}

.info-about {
  margin: 125px 10px;
  background-color: #21609d0f;
}

.info-about h1 {
  font-size: 23px;
  font-weight: bold;
  font-family: sans-serif;
  color: #1760a9a1;
  padding: 20px 14px;
}

.info-about p {
  padding: 0 30px;
  line-height: 3;
  font-family: sans-serif;
  color: #767474;
}

.about img {
  width: 300px;
  height: 400px;
  margin-bottom: -100px;
  margin-top: 150px;
}

/* End About Us */

/* Start Contact Us */

.contact-left p {
  color: #4f4949e0;
  font-size: 16px;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 18px;
}

.contact-info {
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-size: contain;
}

address {
  color: #535049;
  font-family: Arial, Helvetica, sans-serif;
}

address strong {
  font-size: 16px;
  letter-spacing: 1px;
  padding: 17px;
}

.contact-right form .form-control {
  background: transparent;
  border-radius: 0;
  font-size: 17px;
  font-weight: 300px;
  padding: 8px 16px;
  margin-bottom: 20px;
  box-shadow: none;
  outline: none;
}

ul.social-list {
  display: flex;
  color: #073f5f;
  list-style: none;
  margin: 30px;
}

ul.social-list a {
  margin-right: 50px;
  color: #0684b6;
  font-size: 25px;
}

ul.social-list a:hover {
  color: #f5bc1a;
}

.send-btn .btn-white {
  border-color: #ddd;
}

.send-btn .btn-white:hover {
  background: #f5bc1a;
  color: #333;
}

.custom-fa {
  color: #0684b6;
  padding: 10px;
}

/* End Contact Us */

/*  -------------- --------------------- Start Info Page ------------- --------------- ------------- */

.details h5 {
  padding: 12px;
  margin-top: 30px;
  font-size: 30px;
  font-weight: 600;
  color: #21609d;
}

.details ul {
  padding: 0 29px;
}

.details ul li {
  padding: 7px 5px;
  line-height: 2;
}

.custom-slider {
  padding-top: 175px;
}

/*.custom-slider img {
  height: 500px !;
}*/

.carousel-edit {
  padding: 25px 30px 0 30px;
  height: 500px;
}

.wrapper {
  text-align: center;
  margin: 78px auto 43px;
}

.wrapper a {
  color: #0684b6;
  font-size: 26px;
  position: relative;
  margin: 4px;
  padding: 0 14px;
  outline: none;
}

.wrapper a:hover {
  color: #f5bc1a;
}

.wrapper .socials-round {
  width: 60px;
  height: 60px;
  padding: 0;
}

.dropdown-item {
  background-color: #117a8b26;
}

.book-now a {
  background-color: #0684b6;
  color: #fff;
  padding: 14px 100px;
  font-weight: bold;
  border-radius: 2px;
}

.tourist-programs .btn-info {
  text-align: left !important;
}

.accordion>.card .card-header {
  background-color: #004085;
  text-align: center;
}

.book-now .btn-link {
  color: #fff !important;
  text-decoration: none;
  font-size: 20px;
  width: 100%;
}

.tourist-programs .card-body {
  color: #fff !important;
}

.btn-group>.btn:first-child {
  background: #004085;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #004085;
}

/*  -------------- ---------------------  End Info Page -------------- ---------------------  */


/*  -------------- ---------------------  Start All Programs Page -------------- ---------------------  */

.titel-pro {
  padding: 40px 0 20px;
  font-size: 30px;
  color: #4a76b8;
  text-align: center;
  font-family: monospace;
}

.link-info {
  padding: 0 30px 0;
  font-size: 16px;
  color: #4a76b8;
  font-family: monospace;
  font-style: italic;
  font-weight: bold;
}

/*  -------------- ---------------------  End All Programs Page -------------- ---------------------  */

/* Start Book Now */

.book-form .form-control {
  margin: -6px 0;
}

/* End Book Now */

/* ____________________________  Start Media For Mobile  _______________________________________ */
@media only screen and (max-width: 900px) {
  .titel-style h1 {
    font-size: 20px;
  }

  .tourism-section {
    margin: 209px 0 0 0;
  }

  .img-hover .imageContainer {
    margin: 10px 42px;
  }

  .img-hover img {
    height: 60%;
  }

  /* .tourism-section {} */

  .wrapper {
    margin: 89px 39px 0 0;
  }

  .carousel-control-next {
    right: 0px !important;
  }

  .titel-pro {
    font-size: 17px;
  }

  .tourist h1 {
    font-size: 15px;
  }

  .custom-slider {
    padding-top: 364px;
  }

  .navbar .fa-bars {
    color: #f5bc1a;
    font-size: 40px;
    padding: 10px;
  }

  .wrapper a {
    margin: -10px;
    font-size: 23px;
    padding: 0 15px;
  }

  .slider img {
    height: 55vh;
  }

  .navbar-brand img {
    margin-left: 15px;
  }

}

@media (max-width: 991.98px) {
  .img-hover img {
    height: 60%;
  }

  .img-hover .overlayText {
    padding: 48px 29px;
  }

}

@media (max-width: 575.98px) {
  .navbar-collapse {
    background-color: #006cb6;
    z-index: 101;
    padding: 10px;
  }

  .navbar-light .navbar-nav .nav-link {
    background: none;
  }

  .bounceInDown {
    visibility: none;
    animation-name: none;
  }

  .bounceInLeft {
    visibility: none;
    animation-name: none;
  }

  .bounceInRight {
    visibility: none;
    animation-name: none;
  }

  .navbar-nav li a {
    float: inherit;
  }

  .custom-slider {
    padding-top: 180px;
  }

  .custom-slider img {
    height: 200px;
  }

  .radio-icon label {
    line-height: 2 !important;
    font-size: 17px !important;
  }

  .radio-icon legend {
    font-size: 17px;
  }

  .wrapper {
    margin: 90px 0 0 30px;
  }

  .modal-footer {
    justify-content: center;
  }
  
  .img-hover .overlayText {
    bottom: 16px;
  }
}

/* ____________________________  End Media For Mobile   ____________________________ */

/* Start Last Update */

/* Start Cash */
.modal-backdrop.show {
  z-index: 3;
}

.radio-icon i {
  padding: 0 15px 0 0;
  color: #007bff;
}

.radio-icon [type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.radio-icon label {
  display: block;
  cursor: pointer;
  line-height: 2.5;
  font-size: 1.5em;
  color: #007bff;
}

.radio-icon [type="radio"]+span {
  display: -webkit-box;
}

.radio-icon [type="radio"]+span:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.25em;
  border-radius: 1em;
  border: 0.125em solid #fff;
  box-shadow: 0 0 0 0.15em #007bff;
  margin-right: 0.75em;
  transition: 0.5s ease all;
}

.radio-icon [type="radio"]:checked+span:before {
  background: #007bff;
  box-shadow: 0 0 0 0.25em #0d3b6c;
}

.radio-icon [type="radio"]:focus+span:after {
  content: '\0020\2190';
  font-size: 1.5em;
  line-height: 1;
  vertical-align: -0.125em;
}

.radio-icon fieldset {
  font-size: 1em;
  border: 2px solid #007bff;
  padding: 2em;
  border-radius: 0.5em;
}

.radio-icon legend {
  color: #fff;
  background: #007bff;
  padding: 0.25em 1em;
  border-radius: 1em;
  text-align: center;
}




/* End Cash */




/* End Last Update */